{% extends 'base.html'%}
{% block body%}
<form method="POST">
    {{ form.csrf_token }}
    {{ form.x.label }}:
    {{ form.x }}<br>
    {% for error in form.x.errors %}
		<small class="error">{{ error }}</small><br>
	{% endfor %}
    {{ form.y.label }}:
    {{ form.y }}<br>
    {% for error in form.y.errors %}
		<small class="error">{{ error }}</small><br>
    {% endfor %}
    {{ form.belonger.label }}:
    {{ form.belonger }}<br>
    {% for error in form.belonger.errors %}
		<small class="error">{{ error }}</small><br>
    {% endfor %}
    {{ form.submit }}
</form>
{% endblock%}